/* /themes/print.css */
:root {
    --title-color: #000000;
    --text-color: #000000;
    --text-color-light: #333333;
    --container-color: #ffffff;
    --container-color-alt: #f0f0f0;
    --body-color: #ffffff;
}